.transaction-list {   
    display: flex;
    background-color: white;
    color: white;
    width: 500px;
    height: 50px;
    margin-top: 5px;
    
}

.transaction-list {
    display: flex;
    padding-left: 20px;
    width: 500px;
    height: 50px;
    background-color: greenyellow;
    border: none;
    padding-left: 15px;
    margin-top: 10px;
    justify-content: space-between;

}

.Expense-list {
    display: flex;
    padding-left: 20px;
    width: 500px;
    height: 50px;
    background-color: red;
    border: none;
    padding-left: 15px;
    margin-top: 10px;
    justify-content: space-between;

}